<VirtualHost *:80>
    ServerAdmin admin@localhost
    DocumentRoot {{ wp_site_dir }}

    <Directory {{ wp_site_dir }}>
        AllowOverride All
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>